* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Josefin Sans", sans-serif;
}

header {
    background-color: rgb(230, 97, 97);
    height: 8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

p{
    font-size: 1.5rem;
    max-width: 50%;
}

.primeira{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-block: 5rem;
}

.primeira img{
    width: 40rem;
}

.segunda{
    height: 30rem;
    background-color: rgb(238, 64, 64);
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 2rem;
}

.segunda img{
    width: 20rem;
    height: 20rem;
}

.terceira{
    display: flex;
    align-items: center;
    flex-direction: column;

}

.terceira img{
    width: 28rem;
    height: 18rem;
    margin-bottom: 2rem;
}

